.brand {
    margin-left: 1rem;
}

.nav-custom {
    padding-left: calc((100vw - 60em) / 2)!important;
}

@media (max-width: 991.98px) { 
    .navbar-nav .nav-link {
        margin-left: 1rem;
    }
 }